# Arithmetic Operations

In [1]:
# Addition
5 + 2

7

In [2]:
# Substraction
5 - 2

3

In [3]:
# Substraction (negative)
2 - 5

-3

In [4]:
# Multiplication
5 * 2

10

In [5]:
# Multiplication
5 * 2.0

10.0

In [6]:
# Division
5 / 2

2.5

In [7]:
# Quotient
5 // 2

2

In [8]:
# Modulus (Remainder)
5 % 2

1

In [9]:
# Exponent
5**2

25

In [10]:
# Another Method - power/exponent
pow(5,2)

25

# VARIABLES

Rules:
- Variables in Python can store characters, integers, boolean values, etc.
- Variable can start with only letters (a-z or A-Z) or '_'
- Variable name should contains only number, letter, or '_'

In [11]:
Var = "I"
Var1 = "am"
Var_ = 24
_var = "years old."
Var_1 = True

In [12]:
Var

'I'

In [13]:
if (Var_1 == True):
    print(Var + Var1 + str(Var_) + _var) # Concat
    print(Var + " " + Var1 + " " + str(Var_) + ' ' + _var) # Concat
    print(Var , Var1 , Var_ , _var)

Iam24years old.
I am 24 years old.
I am 24 years old.

# Data Types

In [14]:
x = 10
type(x)

int

In [15]:
type("10")

str

In [16]:
type(10.9)

float

In [17]:
x = False
type(x)

bool

In [18]:
x = 3 + 2j
type(x)

complex

In [19]:
x = [1,2.3, 5, 'Hello']
type(x)

list

In [20]:
x = {1,2.3, 5, 'Hello'}
type(x)

set

In [21]:
x = (1,2.3, 5, 'Hello')
type(x)

tuple

In [22]:
x = {"Color": "red", "Price": 12, 9:[1,2,3,4]}
type(x)

dict

## Type Cast

In [23]:
# Integer -> float -> String
x = 12
type(x)

int

In [24]:
y = float(x)
print(y)
type(y)

12.0

float

In [25]:
y = str(x)
print(y)
type(y)

12

str

In [26]:
# Float -> integer
x = 13.84
type(x)

float

In [27]:
y = int(x)
print(y)
type(y)

13

int

# Assign Operators

In [28]:
x = 3
x = x + 10
print(x)

13

In [29]:
x = 3
x += 10
print(x)

13

In [30]:
x -= 10
print(x)

3

In [31]:
x *= 10
print(x)

30

In [32]:
x /= 10
print(x)

3.0

In [33]:
x**=3
print(x)

27.0

# Relational Operators

In [2]:
x = 3

In [35]:
x > 2

True

In [36]:
x <= 4

True

In [37]:
x == 3

True

In [3]:
x != 12 #does not equal to

True

# IF and ELSE statement
- Notice: Indentation and number of spaces matter!

In [2]:
a = 3
b = 2

if a < b:
    print("a is less than b")
    print("a is definitely less than b")
    
print("Not sure if a is less than b")

Not sure if a is less than b

In [4]:
a = 3
b = 2

if a < b:
    print("a is less than b")
       print("a is definitely less than b")
    
print("Not sure if a is less than b")

IndentationError: unexpected indent (<ipython-input-4-4ab7334ee295>, line 6)

In [3]:
a = 1
b = 2

if a < b:
    print("a is less than b")
    print("a is definitely less than b")
print("Not sure if a is less than b")

a is less than b
a is definitely less than b
Not sure if a is less than b

In [5]:
a = 1
b = 2

if a < b:
    print("a is less than b")
    print("a is definitely less than b")
else:
    print("Not sure if a is less than b")

a is less than b
a is definitely less than b

In [7]:
a = 5
b = 5

if a < b:
    print("a is less than b")
elif a == b:
    print("a equals to b")
else:
    print("Not sure if a is less than b")

a equals to b

In [8]:
x = 10 

if x <= 5: 
    print('x is less than or equal to 5')
elif (x > 5) & (x < 10): # AND LOGIC
    print('x is between 5 and 10')
else:
    print('x is greater than 10')

x is greater than 10

In [40]:
if x <= 5: 
    print('x is less than or equal to 5')
elif (x > 5) | (x < 10): # OR LOGIC
    print('x is either greater than 5 or 10')
else:
    print('x is greater than 10')

x is between 5 and 10

In [10]:
name = 'George'
height_m = 2
weight_kg = 90 #110

bmi = weight_kg / (height_m * height_m)
bmi = weight_kg / (height_m ** 2)

print('bmi:', bmi)

if bmi < 25:
    print(name, 'is not overweight.')
else:
    print(name, 'is overweight.')

bmi:
22.5
person 1
is not overweight

# LIST

[1,2.3,True, 'Hello'] = one or more data items in __ordered__ list; they can be different data type. It is defined in square brackets.

- Lists are mutable (they can be modified)
- It is ordered because each element exists at particular position, which is called __index__

In [41]:
l1 = [1, 2.3, True, 'Hello']

In [42]:
l1

[1, 2.3, True, 'Hello']

## Indexing

In [43]:
l1[0]

1

In [44]:
l1[1]

2.3

In [45]:
l1[-1] # reverse

'Hello'

In [46]:
l1[-2]

True

In [47]:
# Check the length of the list
len(l1)

4

In [48]:
l1[len(l1) - 1] # minus one because index starts with 0

'Hello'

## Slicing

In [49]:
l2 = [10, 20, 30, 40, 50, 60]

In [50]:
# l2[first:last] 

# Goal = want to get [20, 30, 40]

l2[1:3] # NOTE: last index = 'up to' the element instead of providing that element

[20, 30]

In [51]:
l2[1:4]

[20, 30, 40]

In [52]:
l2[:] # a whole list

[10, 20, 30, 40, 50, 60]

In [53]:
l2[1:]

[20, 30, 40, 50, 60]

In [54]:
l2[:4]

[10, 20, 30, 40]

In [55]:
l2[0:4] # same as l2[:4]

[10, 20, 30, 40]

In [56]:
l2[2:-1]

[30, 40, 50]

In [57]:
l2[::2]

[10, 30, 50]

In [58]:
l2[1::2] # Get index 1 and every other element after

[20, 40, 60]

In [59]:
l2[1::3] # Get index 1 and every 2 elements after

[20, 50]

In [60]:
l2[::-1] # Reverse the list.

[60, 50, 40, 30, 20, 10]

In [61]:
l2[::-2] # Reverse and only get every other element.

[60, 40, 20]

In [62]:
l2[-1:1:-1] # Get last index up to index 1. Reverse the list.

[60, 50, 40, 30]

## Methods

- Append(value)
- Extend(a list)
- Insert(index, value)
- Pop()
- Pop(index)
- Remove(value)

- Count(value)
- Index(value)
- Reverse()
- Sort()
- Sort(reverse = True)
- len(list)

In [63]:
l2

[10, 20, 30, 40, 50, 60]

### Append

In [64]:
l2.append(70)

In [65]:
l2

[10, 20, 30, 40, 50, 60, 70]

### Extend

In [66]:
l2.extend([80,90])

In [67]:
l2

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [68]:
B = [80, 80, 80, 90]
l2.extend(B)

In [69]:
l2

[10, 20, 30, 40, 50, 60, 70, 80, 90, 80, 80, 80, 90]

### Insert

In [70]:
l2.insert(2, 30)

In [71]:
l2

[10, 20, 30, 30, 40, 50, 60, 70, 80, 90, 80, 80, 80, 90]

In [72]:
l2.insert(-2, 30)

In [73]:
l2

[10, 20, 30, 30, 40, 50, 60, 70, 80, 90, 80, 80, 30, 80, 90]

### Pop

In [74]:
l2.pop() #It will pop last element and return which one it is

90

In [75]:
l2

[10, 20, 30, 30, 40, 50, 60, 70, 80, 90, 80, 80, 30, 80]

In [76]:
l2.pop(0) # Index 0

10

In [77]:
l2

[20, 30, 30, 40, 50, 60, 70, 80, 90, 80, 80, 30, 80]

### Remove

In [78]:
l2.remove(80) # remove first 80

In [79]:
l2

[20, 30, 30, 40, 50, 60, 70, 90, 80, 80, 30, 80]

In [80]:
l2.remove(80)

In [81]:
l2

[20, 30, 30, 40, 50, 60, 70, 90, 80, 30, 80]

### Count

In [82]:
l2.count(80)

2

### Index

In [83]:
l2.index(60)

5

In [84]:
l2.index(30) # If there are duplicates, it will return the first one

1

### Reverse

In [85]:
l2

[20, 30, 30, 40, 50, 60, 70, 90, 80, 30, 80]

In [86]:
l2.reverse()

In [87]:
l2

[80, 30, 80, 90, 70, 60, 50, 40, 30, 30, 20]

### Sort

In [88]:
l2.sort()

In [89]:
l2

[20, 30, 30, 30, 40, 50, 60, 70, 80, 80, 90]

In [90]:
l2.sort(reverse = True)

In [91]:
l2

[90, 80, 80, 70, 60, 50, 40, 30, 30, 30, 20]

### Len

In [92]:
len(l2) # There are 11 elements -> but first index is 0

11

In [93]:
range(0,len(l2)-1) #need to minus 1 so it won't be out of bound

range(0, 10)

# STRING
- Defined by Using single quotation marks or double quotation marks
- Can also be defined using three double quotes

In [1]:
a = "One"
b = 'Two'
c = """Three"""
d = '''Four'''

In [2]:
d

## Indexing
- Same as list. First index or first character starts with 0<sup>th</sup> index

In [3]:
sentence = "Hello World! Welcome to Python 3.9"

In [4]:
sentence[0]

In [5]:
sentence[-1] # Last index

## Slicing

In [6]:
sentence[:]

In [7]:
sentence[0:]

In [8]:
sentence[1:]

In [9]:
sentence[:2] # Up to index 2, so it only returns index 0 and 1

In [10]:
sentence[3:14]

In [11]:
sentence[0:12:2] # skip every other character

In [12]:
sentence[::-1] # Reverse

In [13]:
sentence[::-2] # Reverse and skip every other character

In [14]:
sentence[-1:3:-1]

## Methods
- Strip()
- Lower()
- Upper()
- Replace()
- Split()
- In
- Not In
- Use quotation mark within string

###  Strip

In [15]:
text1 = "    HELLo World   "

In [16]:
text1.strip()

In [ ]:
text1.rstrip()

In [ ]:
text1.lstrip()

In [17]:
text1

In [18]:
text1 = text1.strip()

In [19]:
text1

### Lower

In [20]:
text1.lower()

### Upper

In [21]:
text1.upper()

### Replace

In [22]:
text1.replace('HELLo', 'Bye')

In [23]:
text1 = text1.replace('HELLo', 'Hello')
text1

'Hello World'

### Split

In [24]:
text1.split()

['Hello', 'World']

In [25]:
cities = "Tokyo, Berline, Pune, Atlanta, London, Washington D.C"
cities.split()

['Tokyo,', 'Berline,', 'Pune,', 'Atlanta,', 'London,', 'Washington', 'D.C']

In [26]:
cities.split(', ')

['Tokyo', ' Berline', ' Pune', ' Atlanta', ' London', ' Washington D.C']

### IN

In [27]:
a = 'He got 50 in Physics, 80 in Computer Science, 100 in Math, and 77 in English'

In [28]:
'50' in a

True

In [29]:
'40' in a

False

### NOT IN

In [30]:
'89' not in a

True

In [31]:
'100' not in a

False

### Use Quotation Mark
- use backslash (\)

In [32]:
b = "This article is called "New York Time"."

SyntaxError: invalid syntax (<ipython-input-32-18edf6287fe6>, line 1)

In [33]:
b = "This article is called \"New York Time\"."

In [34]:
b

'This article is called "New York Time".'

#### Tab (\t) with PRINT STATEMENT

In [35]:
print(b)

This article is called "New York Time".

In [36]:
b = "\t This article is called \"New York Time\"."
b

'\t This article is called "New York Time".'

In [37]:
print(b)

	 This article is called "New York Time".

#### Next line (\n) with PRINT STATEMENT

In [38]:
c = "This is a very long sentence. I would need to show it on the next line. How should we do it?"

In [39]:
c

'This is a very long sentence. I would need to show it on the next line. How should we do it?'

In [40]:
c = "This is a very long sentence.\n I would need to show it on the next line.\n How should we do it?"

In [41]:
c

'This is a very long sentence.\n I would need to show it on the next line.\n How should we do it?'

In [42]:
print(c)

This is a very long sentence.
 I would need to show it on the next line.
 How should we do it?

## Print String Format

In [46]:
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [54]:
# a position of the object
print('{0} and {1}'.format('Geeks', 'Portal'))
 
print('{1} and {0}'.format('Geeks', 'Portal'))

Geeks and Portal
Portal and Geeks

In [53]:
# print integer and float value
print("Geeks : %2d, Portal : %5.1f" % (1, 05.333))

Geeks :  1, Portal :   5.3

In [47]:
# Using variable

animals = 'eels'

print(f'My hovercraft is full of {animals}.')

print(f'My hovercraft is full of {animals!r}.')

My hovercraft is full of eels.
My hovercraft is full of 'eels'.