# Arithmetic Operations

In [1]:
# Addition
5+2

7

In [2]:
# Substraction
5-2

3

In [3]:
# Substraction (negative)
2-5

-3

In [6]:
# Multiplication
5 * 2

10

In [7]:
# Multiplication
5 * 2.0

10.0

In [8]:
# Division
5/2

2.5

In [9]:
# Quotient
5 // 2

2

In [10]:
# Modulus (Remainder)
5 % 2

1

In [16]:
# Exponent
5**3

125

In [12]:
# Another Method - power/exponent
pow(5,2)

25

# VARIABLES

Rules:
- Variables in Python can store characters, integers, boolean values, etc.
- Variable can start with only letters (a-z or A-Z) or '_'
- Variable name should contains only number, letter, or '_'

In [25]:
Var = "I" # Str = String
Var1 = 123 # Int = integer
_var2 = True # bool = boolean (True or False)
var_ = 2.88 # Float = decimal numbers
var_1 = [1,2,5] # List

In [28]:
Var1 + var_

125.88

In [30]:
Var

'I'

In [31]:
print(Var)

I

In [34]:
Var = "I"
Var1 = "am"
Var_ = 24
_var = "years old."
Var_1 = True

if (Var_1 == True):
    print(Var + Var1 + str(Var_) + _var) # Concat
    print(Var + " " + Var1 + " " + str(Var_) + " " + _var) # Concat
    print(Var , Var1 , Var_ , _var)

Iam24years old.
I am 24 years old.
I am 24 years old.

# Data Types

In [43]:
x = 10
type(x)

int

In [54]:
type("13")

str

In [55]:
type(5.66666)

float

In [46]:
x = [1, 2.3, 5, 'Hello']
type(x)

list

In [39]:
x = {1, 2.3, 5, 'Hello'}
type(x)

set

In [40]:
x = (1, 2.3, 5, 'Hello')
type(x)

tuple

In [57]:
x = False
type(x)

bool

In [42]:
x = 3 + 2j
type(x)

complex

In [52]:
x = {'Color': 'red', "Price": 12, 9:[1,2,3,4]}
type(x)

dict

## Type Cast

In [58]:
# Integer -> float -> String
x = 12
type(x)

int

In [62]:
y = float(x)
type(y)

float

In [60]:
y = str(x)
type(y)

str

In [63]:
# Float -> integer
x = 13.84
type(x)

float

In [66]:
y = int(x)
print(y)
type(y)

13

int

# Assign Operators

In [83]:
x = 3
x = x + 10 
print(x)

13

In [84]:
x += 10 
print(x)

23

In [85]:
x -= 10 
print(x)

13

In [86]:
x *= 10 
print(x)

130

In [87]:
x //= 10 
print(x)

13

In [88]:
x **= 3 
print(x)

2197

# Relational Operators

In [89]:
x = 3

x > 2

True

In [91]:
x <= 4

True

In [93]:
x < -3

False

In [94]:
x == 5 # Equal to

False

In [95]:
x != 3 # Not equal to

False

# IF and ELSE statement
- Notice: Indentation and number of spaces matter!

In [98]:
a = 3
b = 2

if (a < b):
    print("a is less than b")

print("Not sure")

Not sure

In [99]:
a = 3
b = 2

if (a < b):
    print("a is less than b")
      print("NOPE")
        
print("Not sure")

IndentationError: unexpected indent (<ipython-input-99-eae471667cb0>, line 6)

In [101]:
a = 3
b = 2

if (a < b):
    print("a is less than b")
else:
    print("Not sure")

Not sure

In [109]:
a = 6
b = 5

if a < b:
    print("a is less than b")
elif a == b:
    print("a equals to b")
else:
    print("a is greater than b")

a is greater than b

In [113]:
# & = AND LOGIC

x = 15

if x <= 5:
    print("x is less than or equal to 5")
elif (x > 5) & (x < 10): # both statements have to be true for this line to run
    print("x is between 5 and 10")
else:
    print("x is greater than 10")

x is greater than 10

In [116]:
# | = OR LOGIC

x = 11

if x <= 5:
    print("x is less than or equal to 5")
elif (x > 5) | (x < 10): # either statement is true, then, this line will run
    print("x is between 5 and 10")
else:
    print("x is greater than 10")

x is between 5 and 10

In [121]:
name = 'George'
height_m = 2
weight_kg = 110 #90

bmi = weight_kg / (height_m * height_m)
bmi = weight_kg / (height_m ** 2) # second way

print('bmi:', bmi)

if bmi < 25:
    print(name, 'is not overweight.')
else:
    print(name, 'is overweight.')

bmi: 27.5
George is overweight.

# LIST

[1,2.3,True, 'Hello'] = one or more data items in __ordered__ list; they can be different data type. It is defined in square brackets.

- Lists are mutable (they can be modified)
- It is ordered because each element exists at particular position, which is called __index__

In [124]:
l1 = [1, 2.3, True,'Hello']

In [125]:
l1

[1, 2.3, True, 'Hello']

## Indexing

In [126]:
l1[0]

1

In [127]:
l1[1]

2.3

In [129]:
l1[2]

True

In [128]:
l1[3]

'Hello'

In [130]:
l1

[1, 2.3, True, 'Hello']

In [131]:
l1[-1] # reverse

'Hello'

In [132]:
l1[-2]

True

In [133]:
l1[-3]

2.3

In [134]:
l1[-4]

1

In [135]:
# Check the length of the list
len(l1)

4

In [137]:
l1[4]

IndexError: list index out of range

In [136]:
l1 # index = 0, 1, 2, 3

[1, 2.3, True, 'Hello']

In [146]:
index = len(l1)
index

4

In [148]:
index = len(l1) - 1
index

3

In [149]:
l1[index] # minus one because index starts with 0

'Hello'

## Slicing

In [150]:
l2 = [10, 20, 30, 40, 50, 60]

In [151]:
# l2[first : up to last] 

# Goal = want to get [20, 30, 40]

l2[1:3]      # NOTE: last index = 'up to' the element instead of providing that element

[20, 30]

In [152]:
l2[:]

[10, 20, 30, 40, 50, 60]

In [153]:
l2[2:]

[30, 40, 50, 60]

In [154]:
l2[:3]

[10, 20, 30]

In [156]:
l2[2:-1]

[30, 40, 50]

In [157]:
# Slice and pattern
l2[::2]

[10, 30, 50]

In [155]:
l2

[10, 20, 30, 40, 50, 60]

In [158]:
l2[1::2]

[20, 40, 60]

In [159]:
l2[1::3]

[20, 50]

In [163]:
l2[1:4:3]

[20]

In [160]:
l2[::-1]

[60, 50, 40, 30, 20, 10]

In [165]:
l2[3:0:-1]

[40, 30, 20]

In [161]:
l2[-1:1:-1]

[60, 50, 40, 30]

In [162]:
l2[::-2]

[60, 40, 20]

## Methods

- Append(value)
- Extend(a list)
- Insert(index, value)
- Pop()
- Pop(index)
- Remove(value)

- Count(value)
- Index(value)
- Reverse()
- Sort()
- Sort(reverse = True)
- len(list)

In [166]:
l2

[10, 20, 30, 40, 50, 60]

### Append

In [169]:
l2.append(40)

In [170]:
l2

[10, 20, 30, 40, 50, 60, 70, 40]

### Extend

In [171]:
l2.extend([80, 90, 60])

In [172]:
l2

[10, 20, 30, 40, 50, 60, 70, 40, 80, 90, 60]

In [192]:
B = [80, 80, 80, 90]
l2.extend(B)

In [174]:
l2

[10, 20, 30, 40, 50, 60, 70, 40, 80, 90, 60, 80, 80, 80, 90]

### Insert

In [175]:
l2.insert(2,33)

In [176]:
l2

[10, 20, 33, 30, 40, 50, 60, 70, 40, 80, 90, 60, 80, 80, 80, 90]

In [177]:
l2.insert(-2,88)

In [178]:
l2

[10, 20, 33, 30, 40, 50, 60, 70, 40, 80, 90, 60, 80, 80, 88, 80, 90]

### Pop

In [179]:
l2.pop()

90

In [180]:
l2

[10, 20, 33, 30, 40, 50, 60, 70, 40, 80, 90, 60, 80, 80, 88, 80]

In [181]:
l2.pop(2)

33

In [182]:
l2

[10, 20, 30, 40, 50, 60, 70, 40, 80, 90, 60, 80, 80, 88, 80]

### Remove

In [183]:
l2.remove(80)

In [184]:
l2

[10, 20, 30, 40, 50, 60, 70, 40, 90, 60, 80, 80, 88, 80]

In [191]:
l2.remove(80)

ValueError: list.remove(x): x not in list

In [190]:
l2

[10, 20, 30, 40, 50, 60, 70, 40, 90, 60, 88]

### Count

In [196]:
l2

[10, 20, 30, 40, 50, 60, 70, 40, 90, 60, 88, 80, 80, 80, 90]

In [197]:
l2.count(80)

3

### Index

In [198]:
l2.index(70)

6

In [199]:
l2.index(80)

11

### Reverse

In [200]:
l2 # original

[10, 20, 30, 40, 50, 60, 70, 40, 90, 60, 88, 80, 80, 80, 90]

In [201]:
l2.reverse()

In [202]:
l2

[90, 80, 80, 80, 88, 60, 90, 40, 70, 60, 50, 40, 30, 20, 10]

### Sort

In [203]:
l2 # original

[90, 80, 80, 80, 88, 60, 90, 40, 70, 60, 50, 40, 30, 20, 10]

In [204]:
l2.sort()

In [205]:
l2

[10, 20, 30, 40, 40, 50, 60, 60, 70, 80, 80, 80, 88, 90, 90]

In [206]:
l2.sort(reverse = True)

In [207]:
l2

[90, 90, 88, 80, 80, 80, 70, 60, 60, 50, 40, 40, 30, 20, 10]

### Len

In [208]:
len(l2) # 15 elements

15

In [214]:
list(range(0, len(l2))) # for "for loop" later

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# STRING
- Defined by using single quotation marks or double quotation marks
- Can also be defined using three double quotes

In [216]:
a = "One"
b = 'Two'
c = """Three"""
d = '''Four'''

In [220]:
d

'Four'

## Indexing
- Same as list. First index or first character starts with 0<sup>th</sup> index

In [221]:
sentence = "Hello World! Welcome to Python 3.9"

In [222]:
sentence[0]

'H'

In [223]:
sentence[-1] # Last index

'9'

## Slicing

In [224]:
sentence[:]

'Hello World! Welcome to Python 3.9'

In [225]:
sentence[0:]

'Hello World! Welcome to Python 3.9'

In [226]:
sentence[1:]

'ello World! Welcome to Python 3.9'

In [227]:
sentence[:2] # Up to index 2, so it only returns index 0 and 1

'He'

In [228]:
sentence[3:14]

'lo World! W'

In [229]:
sentence[0:12:2] # skip every other character

'HloWrd'

In [230]:
sentence[::-1] # Reverse

'9.3 nohtyP ot emocleW !dlroW olleH'

In [231]:
sentence[::-2] # Reverse and skip every other character

'93nhy teolW!lo le'

In [232]:
sentence[-1:3:-1]

'9.3 nohtyP ot emocleW !dlroW o'

## Methods
- Strip()
- Lower()
- Upper()
- Replace()
- Split()
- In
- Not In
- Use quotation mark within string

###  Strip

In [252]:
text1 = "    HELLo World   "

In [242]:
text1.strip()

'HELLo World'

In [240]:
text1.lstrip()

'HELLo World   '

In [241]:
text1.rstrip()

'    HELLo World'

In [239]:
text1

'    HELLo World   '

In [253]:
text1 = text1.strip()

In [244]:
text1

'HELLo World'

### Lower

In [245]:
text1.lower()

'hello world'

### Upper

In [246]:
text1.upper()

'HELLO WORLD'

### Replace

In [254]:
text1

'HELLo World'

In [255]:
text1 = text1.replace('HELLo', 'Bye')
text1

'Bye World'

In [256]:
text1 = text1.replace('Bye', 'Hello')
text1

'Hello World'

### Split

In [257]:
text1.split()

['Hello', 'World']

In [258]:
cities = "Tokyo, Berline, Pune, Atlanta, London, Washington D.C"
cities.split()

['Tokyo,', 'Berline,', 'Pune,', 'Atlanta,', 'London,', 'Washington', 'D.C']

In [260]:
cities.split(', ')

['Tokyo', 'Berline', 'Pune', 'Atlanta', 'London', 'Washington D.C']

### IN

In [261]:
a = 'He got 50 in Physics, 80 in Computer Science, 100 in Math, and 77 in English'

In [262]:
'50' in a

True

In [269]:
'She got' in a

False

In [267]:
'45' in a

False

### NOT IN

In [270]:
'She got' not in a

True

In [271]:
'80' not in a

False

### Use Quotation Mark
- use backslash (\)

In [272]:
b = "This article is called "New York Time"."

SyntaxError: invalid syntax (<ipython-input-272-18edf6287fe6>, line 1)

In [280]:
b = "This article is called \'New York Time\' ."

In [281]:
b

"This article is called 'New York Time' ."

#### Tab (\t) with PRINT STATEMENT

In [282]:
print(b)

This article is called 'New York Time' .

In [277]:
b = "\t This article is called \'New York Time\' ."
b

"\t This article is called 'New York Time' ."

In [278]:
print(b)

	 This article is called 'New York Time' .

#### Next line (\n) with PRINT STATEMENT

In [283]:
c = "This is a very long sentence. I would need to show it on the next line. How should we do it?"

In [284]:
c

'This is a very long sentence. I would need to show it on the next line. How should we do it?'

In [285]:
c = "This is a very long sentence. \n I would need to show it on the next line. \n How should we do it?"

In [286]:
c

'This is a very long sentence. \n I would need to show it on the next line. \n How should we do it?'

In [287]:
print(c)

This is a very long sentence.
 I would need to show it on the next line.
 How should we do it?

## Print String Format

In [296]:
ghost = 'knights'
boo = 'Ni'

print('We are the {} who say "{}!"'.format(ghost, boo))

We are the knights who say "Ni!"

In [297]:
# a position of the object
print('{0} and {1} and {2}'.format('Geeks', 'Portal', 'Boo'))
 
print('{1} and {2} and {0}'.format('Geeks', 'Portal', 'Boo'))

Geeks and Portal and Boo
Portal and Boo and Geeks

In [300]:
# print integer and float value
print("Geeks : %2d, Portal : %.2f" % (100, 05.333))

Geeks : 100, Portal : 5.33

In [302]:
# Using variable

animals = 'eels'

print(f'This pond is full of {animals}.')

print(f'This pond is full of {animals!r}.')

This pond is full of eels.
This pond is full of 'eels'.